#content-avis{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    justify-content: space-around;
}

.titre-avis{
width: 20%;
}

.titre-avis > div{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}

.avis-text{
    font-style: italic;
    font-weight: normal !important;

}